  <h2>Transfer Complete!</h2>
  <div id="results">
  <p>Account debited :   <%= @account1.type %><br></p>
  <p>Account credited  : <%= @account2.type %><br></p>
  <p>Amount : £ <%= sprintf('%.2f', params[:amount]) %><br></p>
  </div>

  <hr>

