<h2>Add Account</h2>

<div id="results">
  <form action="/account" method="post">

    <label for="type">Short account description:</label>
    <input type="text" name="type"><br>
    <hr>

    <label for="balance">Opening Balance: £</label>
    <input type="decimal" name="balance"><br>
    <hr>

    <input type='submit' value="Add Account!">
  </form>
</div>
<br>
