<h2>Add Tag</h2>

<div id="results">
  <form action="/tag" method="post">

    <label for="name">Tag Description: </label>
    <input type="text" name="name">   <input type='submit' value="Add Tag!">
  </form>
</div>
<br>



